@model MVCBierenApplication.Models.Bier
@using MVCBierenApplication.Models;

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary("Volgende zaken werden niet correct ingevuld: ", new { @class = "alert alert-danger" });
}

<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Naam)
                @Html.TextBoxFor(m => m.Naam, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Naam, "", new { @class = "alert-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Alcohol)
                @Html.TextBoxFor(m => m.Alcohol, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Alcohol, "", new { @class = "alert-danger" })
            </div>
           
            <div class="form-group">
                @Html.LabelFor(m => m.Brouwer)
                @Html.TextBoxFor(m => m.Brouwer, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Brouwer, "", new { @class = "alert-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Soort)
                @Html.TextBoxFor(m => m.Soort, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Soort, "", new { @class = "alert-danger" })
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-md-12">
            <br />
            <br />
            <div class="pad-top">
                <button type="submit" class="btn btn-success btn-lg margin-right">
                    <span class="glyphicon glyphicon-save"></span> Toevoegen
                </button>
                <a href="@Url.Action("Index")" class="btn btn-warning btn-lg">
                    <span class="glyphicon glyphicon-remove"></span> Cancel
                </a>
            </div>
        </div>
    }
</div>