@model List<MVCBierenApplication.Models.Bier>

<h2>Bieren</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Naam</th>
        <th>Alcohol %</th>
        <th>Verwijder</th>
    </tr>

    @foreach(var bier in Model)
    {
        <tr>
            <td>@String.Format( "{0:000}",bier.ID)</td>
            <td>@bier.Naam</td>
            <td>@bier.Alcohol</td>
            <td><a href="@Url.Action("Verwijder", new { id  = bier.ID})"><p class="btn btn-danger">Verwijder</p></a></td>
        </tr>
    }
</table>



<a href="@Url.Action("Add")"><p class="btn btn-info">Voeg Bier toe</p></a>
