@model List<MVCBierenApplication.Models.Bier>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Add")"><p class="btn btn-info">Voeg Bier toe</p></a>
    </div>
</div>

<h2>Bieren</h2>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Naam</th>
        <th>Alcohol %</th>
        @*<th>Brouwer</th>
        <th>Soort</th>*@
        <th>Verwijder</th>
    </tr>

    @foreach(var bier in Model)
    {
        <tr>
            <td>@String.Format( "{0:000}",bier.BierNr)</td>
            <td>@bier.Naam</td>
            <td>@bier.Alcohol</td>
            @*<td>@bier.Brouwer</td>
            <td>@bier.Soort</td>*@
            <td><a href="@Url.Action("Verwijder", new { id  = bier.BierNr})"><p class="btn btn-danger">Verwijder</p></a></td>
        </tr>
    }
</table>




